@import'base/var';
@import'base/reset';
@import'mixin/mixin';
@import'layout/footer';
@import'layout/header';
@import'page/about';
@import'page/index';
// @import'../node_modules/bootstrap/scss/bootstrap.scss';
body {
    $bgc: #333;
    background-color: $bgc;
    color: $color;
    padding: null;
    margin: $margin;
    border-color: map-get($map, 'red');
}

a {
    color: #333;
    &:hover {
        color: #eee;
    }
    &::before {
        content: '';
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    h1 {
        font-size: 30px;
        .title {
            font-size: 12px;
        }
    }
    span {
        font-size: 20px;
        ;
    }
}

.footer {
    color: red;
}

h2 {
    background-color: #333;
    font-size: 12px;
}

.test {
    width: 1+100px;
}

// 運算的函式
.test1 {
    width: floor(150.56) + px; //無條件捨去
    height: ceil(150.56) + px; // 無條件進位
    font-size: round(15.56) + px; // 四捨五入
}

//  顏色函式
.color {
    color: lighten(#000000, 90); // 顏色變深
    background-color: darken(#fff, 50) //顏色變淺
}

//顏色函式範例運用
$a_color: #f20;
a {
    color: $a_color;
    font-size: 30px;
    transition: .2s all ease;
    &:hover {
        color: darken($a_color, 30);
        font-size: 35px;
    }
}

// 按鈕範例
$btn_bg: #333;
.btn {
    color: #fff;
    text-align: center;
    background-color: $btn_bg;
    max-width: 80px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .1s all ease;
    //hover過去的效果
    &:hover {
        background-color: darken($btn_bg, 20);
    }
}

// 運算函式範例 h1 ~ h5
$body_font: 16px;
h1 {
    font-size: round($body_font * 4)
}

h2 {
    font-size: round($body_font * 3.5)
}

h3 {
    font-size: round($body_font * 3)
}

h4 {
    font-size: round($body_font * 2)
}

h5 {
    font-size: round($body_font * 1)
}

// 判斷式 if else
$con:false;
.if {
    @if($con) {
        width: 100px;
    }
    @else {
        width: initial;
    }
}

$width :100;
.section {
    @if($width==100) {
        width: 100%;
    }
    @else {
        width: $width+px;
        margin: 0 auto;
    }
}

// ================== 函式 ============================ 
//$minHeight 區域變數 只在作用域內可以取得　
@mixin center($minHeight:null) {
    margin-left: auto;
    margin-right: auto;
    min-height: $minHeight;
}

.center {
    //引用  
    @include center(200px)
}

.layout {
    // 引用
    width: 1100px;
    @include center(100px);
}

// ＬＡＹＯＵＴ範例
@mixin layout($width, $bgc: null) {
    // if layout
    @if ($width==100) {
        width: 100%;
    }
    @else {
        max-width: $width + px;
        width: 100%;
        //引用其他的函式
        @include center()
    }
    // background-color
    background-color:$bgc
}

.w100 {
    @include layout(100, #f29);
    min-height: 300px;
}

.w1200 {
    @include layout(1200, #f30);
    min-height: 300px;
}

@mixin btn($btn_bg, $width:null) {
    color: #fff;
    text-align: center;
    background-color: $btn_bg;
    max-width: $width;
    padding: 10px 30px;
    cursor: pointer;
    transition: .4s all ease;
    //hover過去的效果
    &:hover {
        background-color: darken($btn_bg, 20);
    }
}

.btn_large {
    @include btn(#335, 200px);
}

.btn_default {
    @include btn(#f29, 120px);
}

.btn_small {
    @include btn(#333, 60px);
}

@mixin font($font, $var, $path) {
    .font#{$font} {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $font+px;
        #{$var}: 10px;
        background-image: url('./#{$path}/aa.png')
    }
}

@include font(30,
padding,
dist/images);
@mixin pull($var,
$dir) {
    @for $i from 1 through $var {
        .push#{$dir}_#{$i} {
            position: relative;
            #{$dir}: $i + px;
        }
    }
}

@include pull(200,
top);
@mixin grid($col) {
    @for $i from 1 through 12 {
        .col-#{$i} {
            flex: 0 0 auto;
            width: ($i/12)*100%;
        }
    }
}

@include grid(12);
// $list :a1 a2 a3 banner;
@mixin img($list,
$w:100%) {
    @each $a in $list {
        .img_#{$a} {
            width: $w;
            background-image: url('./images/#{$a}.jpg');
            background-repeat: no;
            background-size: cover;
            object-fit: cover;
        }
    }
}

@include img(a1 banner frog,
80%);
$title:( "h1":40px,
"h2":30px,
"h3":50px,
"h4":12px,
"h5":66px);
@mixin title($title) {
    @each $key,
    $val in $title {
        #{$key} {
            font-size: $val;
        }
    }
}

;
@include title($title);
.r {
    color: #000000;
    font-size: 100px;
}

@include t() {
    //平板
    .r {
        color: yellow;
    }
}

@include m() {
    //手機板
    .r {
        color: #f20;
    }
}

@include rwd(414px) {
    .r {
        color: #333;
        font-size: 150px;
    }
}

// @media screen and (max-width : 414px) {
// }
$basic: ( "white": #fff,
"dark": #333,
"primary": #1A242A,
"secondary": #445F6F,
"tretiary": #7697AB,
"disabled": #ABAEB0,
);
//each 迴圈
@each $key,
$val in $basic {
    .#{$key} {
        background-color: $val
    }
}

$space: ( "large": 56px,
"medium": 32px,
"small": 16px);
@each $key,
$val in $space {
    .#{$key} {
        margin-top: $val
    }
}

$font_size: ( "t1": 16px,
"t2": 24px);
//each 迴圈
@each $key,
$val in $font_size {
    .#{$key} {
        font-size: $val
    }
}